// === COLORS ===

$main-yellow: #ffc038;
$text-color-yellow-btn: #715d3a;
$main-grey: #464646;
$text-color-grey-btn: #ffffff;


// === FONTS ===

$font-yellow-btn: 'Open Sans';
$font-grey-btn: 'SourceSansPro';

// === SIZES ===
